* {
  padding: 0;
  margin: 0;
}

p,
ul {
  margin: 0;
}

ul {
  list-style-position: inside;
  margin: 1rem 0;
  color: #404040;
}

h2,
h3 {
  margin-top: 5px;
}

.portfolio-title {
  margin: 0 4rem;
}

.row #firstcolumn {
  padding: 0;
}

.large-bold-heading {
  color: #404040;
  font-family: 'Cabin', sans-serif;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 42px;
}

.small-bold-label {
  font-family: 'Cabin', sans-serif;
  color: #202020;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.48px;
  line-height: 30px;
  margin-bottom: 6px;
}

.label-text {
  color: #404040;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 17px;
}

.para-heading {
  color: #202020;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.48px;
  line-height: 30px;
  margin-bottom: 2px;
}

.para-text {
  margin: 0 0 1rem 0;
  color: #404040;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  letter-spacing: 0.48px;
  line-height: 1.5;
}

.empty-row {
  padding: 1.5rem 0;
}

.semibold {
  font-weight: 600;
}

.para-title {
  color: #202020;
  font-family: 'Cabin', sans-serif;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 1.3;
  margin-top: 35px;
}

.project-details {
  margin: 1rem -15px 2rem -15px;
}

.para-label-title {
  color: #202020;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.48px;
  line-height: 1.5;
  margin-bottom: 1px;
  margin-top: 30px;
}

.para-label-title-construct {
  color: #202020;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.48px;
  line-height: 1.5;
  margin-bottom: 1px;
  margin-top: 30px;
}

.para-label-title-scheduler {
  color: #202020;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.48px;
  line-height: 1.5;
  margin-bottom: 1px;
  /* margin-top: 30px; */
}

#scheduler-content {
  width: 60%;
  margin: 1rem auto;
  margin-top: 0;
}
