* {
  padding: 0;
  margin: 0;
}

p,
ul {
  margin: 0;
}

.large-bold-heading {
  color: #404040;
  font-family: 'Cabin', sans-serif;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 42px;
}

.small-bold-label {
  font-family: 'Cabin', sans-serif;
  color: #202020;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  line-height: 30px;
}

.label-text {
  color: #404040;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 0.48px;
  line-height: 17px;
}

.para-heading {
  color: #202020;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.48px;
  line-height: 30px;
}

.para-text {
  margin: 1rem 0;
  color: #404040;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  letter-spacing: 0.48px;
  line-height: 21px;
}

.para-title {
  color: #202020;
  font-family: 'Cabin', sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 39px;
}

.para-label-title {
  color: #202020;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.48px;
  line-height: 30px;
}

#scheduler-content {
  width: 60%;
  margin: 1rem auto;
}
